{% extends 'dashbase.html' %}


{% block css %}
{% endblock %}

{% block content %}



<div class="container mt-5">
  <div class="mt-5" tabindex="-1" aria-modal="true" role="dialog" style="display: block; padding-left: 0px;">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content text-center">
        <div class="modal-body">
          
          <h2 class="mb-3 text-start">Sign up to Sandbox</h2>
          <form class="text-start mb-3">
            <div class="form-floating mb-4">
              <input type="text" class="form-control" placeholder="Name" id="loginName" name="fullname">
              <label for="loginName">Name</label>
            </div>
            <div class="form-floating mb-4">
              <input type="text" class="form-control" placeholder="Name" id="loginName" name="username">
              <label for="loginName">Username</label>
            </div>
            <div class="form-floating mb-4">
              <input type="email" class="form-control" placeholder="Email" id="loginEmail" name="loginEmail">
              <label for="loginEmail">Email</label>
            </div>
            <div class="form-floating mb-4">
              <input type="phone" class="form-control" placeholder="Phone" id="loginPhone" name="loginPhone">
              <label for="loginPhone">Phone</label>
            </div>
            <div class="form-floating mb-4">
              <input readonly class="form-control" name="loginref" value="{{refcode}}" disabled>
              <label for="loginPhone">refcode</label>

            </div>
            <a class="btn btn-primary rounded-pill btn-login w-100 mb-2">Sign Up</a>
          </form>
          <!-- /form -->
          <p class="mb-0">Already have an account? <a href="/dashboard/login" data-bs-target="#modal-signin" data-bs-toggle="modal" data-bs-dismiss="modal" class="hover">Sign in</a></p>
          
          <!--/.social -->
        </div>
        <!--/.modal-content -->
      </div>
      <!--/.modal-body -->
    </div>
    <!--/.modal-dialog -->
</div>  
</div>

{% endblock %}
{% block js %}
{% endblock %}