{% extends 'dashbase.html' %}


{% block css %}
{% endblock %}

{% block content %}
<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
        <div class="row gx-lg-0 gy-10 align-items-center">
            <div class="col-lg-6 order-lg-2 offset-lg-1 grid">
                <div class="row gx-md-5 gy-5 align-items-center counter-wrapper isotope">
                    <div class="item col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="d-flex d-lg-block d-xl-flex flex-row">
                                    <div>
                                        <div
                                            class="icon btn btn-circle btn-lg btn-soft-purple disabled mx-auto me-4 mb-lg-3 mb-xl-0">
                                            <i class="uil uil-presentation-check"></i> </div>
                                    </div>
                                    <div>
                                        <h3 class="counter mb-1">7518</h3>
                                        <p class="mb-0">participiants</p>
                                    </div>
                                </div>
                            </div>
                            <!--/.card-body -->
                        </div>
                        <!--/.card -->
                    </div>
                    <!--/column -->
                    <div class="item col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="d-flex d-lg-block d-xl-flex flex-row">
                                    <div>
                                        <div
                                            class="icon btn btn-circle btn-lg btn-soft-red disabled mx-auto me-4 mb-lg-3 mb-xl-0">
                                            <i class="uil uil-users-alt"></i> </div>
                                    </div>
                                    <div>
                                        <h3 class="counter mb-1">3472</h3>
                                        <p class="mb-0">formations</p>
                                    </div>
                                </div>
                            </div>
                            <!--/.card-body -->
                        </div>
                        <!--/.card -->
                    </div>
                    <!--/column -->
                    <div class="item col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="d-flex d-lg-block d-xl-flex flex-row">
                                    <div>
                                        <div
                                            class="icon btn btn-circle btn-lg btn-soft-yellow disabled mx-auto me-4 mb-lg-3 mb-xl-0">
                                            <i class="uil uil-user-check"></i> </div>
                                    </div>
                                    <div>
                                        <h3 class="counter mb-1">4537</h3>
                                        <p class="mb-0">Expert Employees</p>
                                    </div>
                                </div>
                            </div>
                            <!--/.card-body -->
                        </div>
                        <!--/.card -->
                    </div>
                    <!--/column -->
                    <div class="item col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="d-flex d-lg-block d-xl-flex flex-row">
                                    <div>
                                        <div
                                            class="icon btn btn-circle btn-lg btn-soft-aqua disabled mx-auto me-4 mb-lg-3 mb-xl-0">
                                            <i class="uil uil-trophy"></i> </div>
                                    </div>
                                    <div>
                                        <h3 class="counter mb-1">2184</h3>
                                        <p class="mb-0">Awards Won</p>
                                    </div>
                                </div>
                            </div>
                            <!--/.card-body -->
                        </div>
                        <!--/.card -->
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!--/column -->
            <div class="col-lg-5">
                <h2 class="display-4 mb-3">Hello username.</h2>
                <p class="lead fs-lg">We have considered our business solutions to support you on every stage of your
                    growth.</p>
                <p class="mb-0">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus,
                    porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur.</p>
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->
<section class="wrapper bg-light">
    <div class="py-14 py-md-16">
        
        <!-- /.row -->
        <div class="row">
            <div class="col-xl-10 mx-auto">
                
                <div class="job-list mb-10">
                    <h3 class="mb-4">People</h3>
                    <a href="#" class="card mb-4 lift">
                        <div class="card-body p-5">
                            <span class="row justify-content-between align-items-center">
                                <span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
                                    <span class="avatar bg-red text-white w-9 h-9 fs-17 me-3">GD</span> Senior Graphic
                                    Designer </span>
                                <span class="col-5 col-md-3 text-body d-flex align-items-center">
                                    <i class="uil uil-clock me-1"></i> Full time </span>
                                <span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
                                    <i class="uil uil-location-arrow me-1"></i> San Francisco, US </span>
                                <span class="d-none d-lg-block col-1 text-center text-body">
                                    <i class="uil uil-angle-right-b"></i>
                                </span>
                            </span>
                        </div>
                        <!-- /.card-body -->
                    </a>
                    <!-- /.card -->
                    <a href="#" class="card mb-4 lift">
                        <div class="card-body p-5">
                            <span class="row justify-content-between align-items-center">
                                <span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
                                    <span class="avatar bg-green text-white w-9 h-9 fs-17 me-3">UX</span> UI/UX Designer
                                </span>
                                <span class="col-5 col-md-3 text-body d-flex align-items-center">
                                    <i class="uil uil-clock me-1"></i> Remote </span>
                                <span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
                                    <i class="uil uil-location-arrow me-1"></i> Anywhere </span>
                                <span class="d-none d-lg-block col-1 text-center text-body">
                                    <i class="uil uil-angle-right-b"></i>
                                </span>
                            </span>
                        </div>
                        <!-- /.card-body -->
                    </a>
                    <!-- /.card -->
                    <a href="#" class="card mb-4 lift">
                        <div class="card-body p-5">
                            <span class="row justify-content-between align-items-center">
                                <span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
                                    <span class="avatar bg-yellow text-white w-9 h-9 fs-17 me-3">AN</span> Multimedia
                                    Artist &amp; Animator </span>
                                <span class="col-5 col-md-3 text-body d-flex align-items-center">
                                    <i class="uil uil-clock me-1"></i> Full time </span>
                                <span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
                                    <i class="uil uil-location-arrow me-1"></i> Birmingham, UK </span>
                                <span class="d-none d-lg-block col-1 text-center text-body">
                                    <i class="uil uil-angle-right-b"></i>
                                </span>
                            </span>
                        </div>
                        <!-- /.card-body -->
                    </a>
                    <!-- /.card -->
                </div>
                
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->
{% endblock %}

{% block js %}
{% endblock %}