<!-- dashboard home page -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Fikra - dashboard</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- bootstrap from cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Fikra - dashboard</h1>
        </div>
    </div>
    <p>
        {{user.username}}
    </p>
    <p>
        {{user.email}}
    </p>
    <p>
        {{user.project}}
    </p>
    <p>
        {{user.rib}}
    </p>
    {% for i in referals %}
        <p>
            {{i.username}}
        </p>
    {% endfor %}
    
    <p>
        {{user.referalcode}}
    </p>

    <p>
        <!-- logout -->
        <a href="{{url_for('dashboard.logout')}}">Logout</a>
    </p>
</div>
<!-- /.container -->

</body>
</html>